<button (click)="onAddOneItem()" [disabled]="!productInTheCart.item.isAvailable" class="btn btn-sm btn-outline-primary m-lg-1"
        type="button">
  <i class="bi bi-plus-circle-fill"></i>
</button>

<button (click)="onRemoveOneItem()" [disabled]="productInTheCart.quantity === 0" class="btn btn-sm btn-outline-primary m-lg-1"
        type="button">
  <i class="bi bi-dash-circle-fill"></i>
</button>

<button (click)="onRemoveAllItems()" class="btn btn-sm btn-outline-danger m-lg-1" type="button">
  <i class="bi bi-trash-fill"></i>
</button>

