<div class="row mb-4">
  <div class="col">
    <div class="fw-light">Category: {{productItem.category}}</div>
    <div class="fw-bold">Product name: {{productItem.name}}</div>
    <div>Description: {{productItem.description}}</div>
    <div>Price: {{productItem.price | currency:'USD':'symbol'}}</div>
    <div>Available:
      <span *ngIf="productItem.isAvailable" class="badge bg-success">YES</span>
      <span *ngIf="!productItem.isAvailable" class="badge bg-danger"> NO</span>
    </div>

  </div>
  <div class="col">
    <div>
      <button (click)="onAddToCart()" [disabled]="!productItem.isAvailable" class="btn btn-primary">BUY</button>
    </div>
  </div>

</div>

